# API Configuration
PORT=8000

# OpenAI Configuration
OPENAI_API_KEY=sk-proj-...
OPENAI_MODEL_ID=gpt-4.1
OPENAI_BASE_URL=https://api.openai.com/v1  # Optional: For OpenAI compatible APIs

# Anthropic Configuration
ANTHROPIC_API_KEY=sk-ant-...
ANTHROPIC_MODEL_ID=claude-3-5-sonnet-20240620

# MistralAI Configuration
MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_MODEL_ID=mistral-large-latest

# Google AI Configuration
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_MODEL_ID=gemini-1.5-pro

# Ollama Configuration
OLLAMA_API_BASE=http://localhost:11434  # For local Ollama instance
OLLAMA_MODEL_ID=llama3

# Azure OpenAI Configuration
AZURE_API_KEY=your-azure-api-key
AZURE_ENDPOINT=
AZURE_DEPLOYMENT_NAME=o3-mini
AZURE_API_VERSION=2025-01-01-preview

# Browser Configuration
BROWSER_USE_HEADFUL=true  # Set to true to show browser UI, false to run in headless mode
CHROME_PATH=C:\Program Files\Google\Chrome\Application\chrome.exe  # macOS path
# Windows path: C:\Program Files\Google\Chrome\Application\chrome.exe
# Linux path: /usr/bin/google-chrome
CHROME_USER_DATA=C:\Users\menou\AppData\Local\Google\Chrome\User Data  # macOS path
# Windows path: C:\Users\<username>\AppData\Local\Google\Chrome\User Data
# Linux path: ~/.config/google-chrome

# Optional Configuration
# LOG_LEVEL=INFO 
